doctype html
html
  head
    title= title
    // jQuery
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Angular
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    // Phaser.io
    script(type='text/javascript', src='/js/phaser.2.4.4.min.js')
    // Angular app
    script(type='text/javascript', src='/js/app/app.js')
    script(type='text/javascript', src='/js/app/controllers.js')
    script(type='text/javascript', src='/js/app/services.js')
  body
    .container(ng-app='app')
      block header
        .row
          .col-md-12
            .page-header
              h1 Game Thingo
      block connect
        .row(ng-controller='ConnectCtrl')
          .col-md-12
            h3 #[span.glyphicon.glyphicon-transfer] Connect
            div(ng-show='state == "DISCONNECTED"')
              .row
                .col-md-8
                  label(for='connect-host') Host
                  .input-group
                    spanp.input-group-addon ws://
                    input(type='text', ng-model='host')#connect-host.form-control
                .col-md-4
                  label(for='connect-game') Game name
                  input#connect-game.form-control(type='text', ng-model='gameName')
              .row
                .col-md-6
                  label(for='connect-name') Client name
                  input#connect-name.form-control(type='text', ng-model='clientName')
                .col-md-6
                  label(for='connect-mode') Client mode
                  select#connect-mode.form-control(ng-model='clientMode')
                    option(value='controller', selected='selected') Controller
                    option(value='observer') Observer
              .row
                .col-md-12
                  button.btn.btn-primary(ng-click='connect()') Connect
            div(ng-show='state == "CONNECTING"')
              .row
                .col-md-12
                  p Connecting....
            div(ng-show='state == "CONNECTED"')
              .row
                .col-md-12
                  p Connected to #[b {{gameName}}] as #[b {{ clientName }} ({{clientMode}})]
                  button.btn.btn-danger(ng-click='disconnect()') #[span.glyphicon.glyphicon-off] Disconnect
        hr
      block game
        .row(ng-controller='GameCtrl')
          .col-md-12
            h3 #[span.glyphicon.glyphicon-picture] Game
            p(ng-hide='phaser') Game will start here when connected.
            div(ng-show='phaser')
              button.btn.btn-primary(ng-click='fullscreen()') #[span.glyphicon.glyphicon-fullscreen] Fullscreen
              button.btn.btn-primary() #[span.glyphicon.glyphicon-edit] Edit Key Bindings
              div#game-container
            hr
      block log
        .row(ng-controller='LogCtrl')
          .col-md-12
            h3 #[span.glyphicon.glyphicon-info-sign] Logs
            .row
              .col-md-12
                button.btn.btn-danger(ng-click='clear()') #[span.glyphicon.glyphicon-remove] Clear
            .row
              .col-md-12
                .pre-scrollable
                  p(ng-repeat="message in logService.messages | orderBy:'-count'") #[span.glyphicon.glyphicon-chevron-right] [{{ message.count }}] {{ message.message }}
